@import "tailwindcss";

@theme {
    --color-primary: #F97316;
    --color-secondary: #14B8A6;
    --color-dark: #1F2937;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}